<!DOCTYPE html>
<html lang="en">
    <%- include('./pieces/head') %>
    <body>
        <%- include('./pieces/nav')%>
        
        <div class="wrapper">
            <%- include('./pieces/auth')%>
        </div>
        
    </body>
</html>